src/main/resources/wsdl/jde/vincularJurosBoleto.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:ns2="http://ipiranga.com.br/statusIntegracao"
             xmlns:ns3="java:oracle.e1.bssvfoundation.util"
             xmlns:s="http://www.w3.org/2001/XMLSchema"
             xmlns:s0="http://ipiranga.com.br/vincularJurosBoleto"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             targetNamespace="http://ipiranga.com.br/vincularJurosBoleto">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://ipiranga.com.br/vincularJurosBoleto">
            <s:import namespace="http://ipiranga.com.br/statusIntegracao"/>
            <s:element name="vincular">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pRequest" type="s0:Request"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="Request">
                <s:complexContent>
                    <s:extension base="s0:Ens_Request">
                        <s:sequence>
                            <s:element minOccurs="0" name="mnCliente" type="s:int"/>
                            <s:element minOccurs="0" name="szCondPagamento" type="s:string"/>
                            <s:element minOccurs="0" name="szObservacao" type="s:string"/>
                            <s:element minOccurs="0" name="mnCenario" type="s:int"/>
                            <s:element minOccurs="0" name="mnValorTransacao" type="s:decimal"/>
                            <s:element minOccurs="0" name="mnNumBoleto" type="s:long"/>
                            <s:element minOccurs="0" name="jdDataDaFatura" type="s:dateTime"/>
                            <s:element minOccurs="0" name="jdDateDueJulian" type="s:dateTime"/>
                            <s:element minOccurs="0" name="mnDocGerado" type="s:long"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Request">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Messagebody">
                <s:annotation>
                    <s:documentation>
                        Base class for simple Ensemble message classes, and for the sub- base classes Ens.Request and
                        Ens.Response. Note however that any persistent or serial object can be sent as a message body.
                        It is not required that all message body object classes to be derived from this class. Also note
                        that all message classes derived from this class will share the same storage extent in the
                        database.
                    </s:documentation>
                </s:annotation>
            </s:complexType>
            <s:element name="vincularResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="vincularResult" type="ns2:Response"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="Ens_Response">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
        </s:schema>
        <s:schema elementFormDefault="qualified" targetNamespace="http://ipiranga.com.br/statusIntegracao">
            <s:import namespace="http://ipiranga.com.br/vincularJurosBoleto"/>
            <s:import namespace="java:oracle.e1.bssvfoundation.util"/>
            <s:complexType name="Response">
                <s:complexContent>
                    <s:extension base="ns2:v3">
                        <s:sequence>
                            <s:element minOccurs="0" name="e1MessageList" type="ns3:E1MessageList"/>
                            <s:element minOccurs="0" name="mnDocGerado" type="s:long"/>
                            <s:element minOccurs="0" name="szErrorCode" type="s:string"/>
                            <s:element minOccurs="0" name="szErrorDescription" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="v3">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="statusIntegracao" type="ns2:statusIntegracao"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="statusIntegracao">
                <s:sequence>
                    <s:element minOccurs="0" name="status" type="s:boolean"/>
                    <s:element minOccurs="0" name="codigo" type="s:string"/>
                    <s:element minOccurs="0" name="mensagem" type="s:string"/>
                    <s:element minOccurs="0" name="sessionId" type="s:long"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
        <s:schema elementFormDefault="qualified" targetNamespace="java:oracle.e1.bssvfoundation.util">
            <s:complexType name="E1MessageList">
                <s:annotation>
                    <s:documentation>
                        Criado a partir de: C:\Users\leonardodc\Downloads\AtualizacaoBoletoManager.wsdl
                    </s:documentation>
                </s:annotation>
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="E1Messages" nillable="true" type="ns3:E1Message"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfE1Message">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="E1Message" nillable="true" type="ns3:E1Message"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="E1Message">
                <s:annotation>
                    <s:documentation>
                        Criado a partir de: C:\Users\leonardodc\Downloads\AtualizacaoBoletoManager.wsdl
                    </s:documentation>
                </s:annotation>
                <s:sequence>
                    <s:element minOccurs="0" name="MessagePrefix" type="s:string"/>
                    <s:element minOccurs="0" name="Message" type="s:string"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
    </types>
    <message name="vincularSoapIn">
        <part name="parameters" element="s0:vincular"/>
    </message>
    <message name="vincularSoapOut">
        <part name="parameters" element="s0:vincularResponse"/>
    </message>
    <portType name="vincularJurosBoletoSoap">
        <operation name="vincular">
            <input message="s0:vincularSoapIn"/>
            <output message="s0:vincularSoapOut"/>
        </operation>
    </portType>
    <binding name="vincularJurosBoletoSoap" type="s0:vincularJurosBoletoSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="vincular">
            <soap:operation soapAction="http://ipiranga.com.br/vincularJurosBoleto/ws.vincularJurosBoleto.Service.vincular" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="vincularJurosBoleto">
        <port name="vincularJurosBoletoSoap" binding="s0:vincularJurosBoletoSoap">
            <soap:address location="${settings.jde.vincularjurosboleto.soap.address}"/>
        </port>
    </service>
</definitions>