src/main/resources/wsdl/jde/voucherContasPagar.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             targetNamespace="http://tempuri.org">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
            <s:element name="consultar">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pRequest" type="s0:consultarReq"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="consultarReq">
                <s:complexContent>
                    <s:extension base="s0:Ens_Request">
                        <s:sequence>
                            <s:element name="companhia">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="5"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element name="filial">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="12"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="numeroNota">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="8"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="dataEmissao" type="s:dateTime"/>
                            <s:element minOccurs="0" name="dataContabil" type="s:dateTime"/>
                            <s:element minOccurs="0" name="numeroDocumento" type="s:long"/>
                            <s:element minOccurs="0" name="tipoDocumento">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="2"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="ciaDocumento">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="5"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="codigoFornecedor" type="s:long"/>
                            <s:element minOccurs="0" name="cpfCnpj">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="20"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="itemPagamento">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="3"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="numeroExtensaoItemPagamento" type="s:long"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Request">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Messagebody"/>
            <s:element name="consultarResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="consultarResult" type="s0:consultarResp"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="consultarResp">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="status" type="s:boolean"/>
                            <s:element minOccurs="0" name="msgErro">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="500"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="listaVoucherRetorno" type="s0:ArrayOfconsultarVoucherRetornoRespPairOflistaVoucherRetornoKeyconsultarVoucherRetornoResp"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Response">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfconsultarVoucherRetornoRespPairOflistaVoucherRetornoKeyconsultarVoucherRetornoResp">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="consultarVoucherRetornoResp" nillable="true" type="s0:PairOflistaVoucherRetornoKeyconsultarVoucherRetornoResp"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOflistaVoucherRetornoKeyconsultarVoucherRetornoResp">
                <s:complexContent>
                    <s:extension base="s0:consultarVoucherRetornoResp">
                        <s:attribute name="listaVoucherRetornoKey" type="s:string" use="required"/>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="consultarVoucherRetornoResp">
                <s:sequence>
                    <s:element minOccurs="0" name="companhia" type="s:string"/>
                    <s:element minOccurs="0" name="filial" type="s:string"/>
                    <s:element minOccurs="0" name="numeroFatura" type="s:string"/>
                    <s:element minOccurs="0" name="taxaCambio" type="s:long"/>
                    <s:element minOccurs="0" name="moeda" type="s:string"/>
                    <s:element minOccurs="0" name="numeroLote" type="s:long"/>
                    <s:element minOccurs="0" name="tipoLote" type="s:string"/>
                    <s:element minOccurs="0" name="dataLote" type="s:dateTime"/>
                    <s:element minOccurs="0" name="numeroVoucher" type="s:long"/>
                    <s:element minOccurs="0" name="tipoVoucher" type="s:string"/>
                    <s:element minOccurs="0" name="companhiaVoucher" type="s:string"/>
                    <s:element minOccurs="0" name="listaVoucherDetalhe" type="s0:ArrayOfvoucherDetalhePairOflistaVoucherDetalheKeyvoucherDetalhe"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfvoucherDetalhePairOflistaVoucherDetalheKeyvoucherDetalhe">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="voucherDetalhe" nillable="true" type="s0:PairOflistaVoucherDetalheKeyvoucherDetalhe"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOflistaVoucherDetalheKeyvoucherDetalhe">
                <s:complexContent>
                    <s:extension base="s0:voucherDetalhe">
                        <s:attribute name="listaVoucherDetalheKey" type="s:string" use="required"/>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="voucherDetalhe">
                <s:sequence>
                    <s:element minOccurs="0" name="codigoCliente" type="s:long"/>
                    <s:element minOccurs="0" name="codigoLongoCliente" type="s:string"/>
                    <s:element minOccurs="0" name="cpfCnpj" type="s:string"/>
                    <s:element minOccurs="0" name="dataVoucher" type="s:dateTime"/>
                    <s:element minOccurs="0" name="dataVencimento" type="s:dateTime"/>
                    <s:element minOccurs="0" name="anoFiscal" type="s:long"/>
                    <s:element minOccurs="0" name="seculo" type="s:long"/>
                    <s:element minOccurs="0" name="mes" type="s:long"/>
                    <s:element minOccurs="0" name="valorBrutoInterno" type="s:decimal"/>
                    <s:element minOccurs="0" name="valorEmAbertoInterno" type="s:decimal"/>
                    <s:element minOccurs="0" name="valorBrutoExterno" type="s:decimal"/>
                    <s:element minOccurs="0" name="valorEmAbertoExterno" type="s:decimal"/>
                    <s:element minOccurs="0" name="numeroContaBanco" type="s:string"/>
                    <s:element minOccurs="0" name="statusVoucher" type="s:string"/>
                    <s:element minOccurs="0" name="codigoBanco" type="s:string"/>
                    <s:element minOccurs="0" name="numeroSequencial" type="s:long"/>
                    <s:element minOccurs="0" name="detalhe" type="s:string"/>
                    <s:element minOccurs="0" name="centroCusto" type="s:string"/>
                    <s:element minOccurs="0" name="observacao" type="s:string"/>
                    <s:element minOccurs="0" name="pagamentoFinal" type="s:string"/>
                    <s:element minOccurs="0" name="quantidade" type="s:decimal"/>
                    <s:element minOccurs="0" name="unidadeMedida" type="s:string"/>
                    <s:element minOccurs="0" name="codigoInstrumentoPagamento" type="s:string"/>
                    <s:element minOccurs="0" name="originadorTransacao" type="s:string"/>
                    <s:element minOccurs="0" name="moeda" type="s:string"/>
                    <s:element minOccurs="0" name="itemPagamento" type="s:string"/>
                    <s:element minOccurs="0" name="numeroExtensaoItemPagamento" type="s:long"/>
                    <s:element minOccurs="0" name="numeroDocumentoOriginal" type="s:long"/>
                    <s:element minOccurs="0" name="tipoDocumentoOriginal" type="s:string"/>
                    <s:element minOccurs="0" name="companhiaDocumentoOriginal" type="s:string"/>
                    <s:element minOccurs="0" name="sufixoDocumentoOriginal" type="s:string"/>
                    <s:element minOccurs="0" name="linhaDocumento">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="3"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="numeroDocumentoCompra" type="s:long"/>
                    <s:element minOccurs="0" name="tipoDocumentoCompra" type="s:string"/>
                    <s:element minOccurs="0" name="companhiaDocumentoCompra" type="s:string"/>
                    <s:element minOccurs="0" name="sufixoDocumentoCompra" type="s:string"/>
                    <s:element minOccurs="0" name="listaContabilizacao" type="s0:ArrayOfcontabilizacaoPairOflistaContabilizacaoKeycontabilizacao"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfcontabilizacaoPairOflistaContabilizacaoKeycontabilizacao">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="contabilizacao" nillable="true" type="s0:PairOflistaContabilizacaoKeycontabilizacao"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOflistaContabilizacaoKeycontabilizacao">
                <s:complexContent>
                    <s:extension base="s0:contabilizacao">
                        <s:attribute name="listaContabilizacaoKey" type="s:string" use="required"/>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="contabilizacao">
                <s:sequence>
                    <s:element minOccurs="0" name="codigoContabilizacaoLote" type="s:string"/>
                    <s:element minOccurs="0" name="numeroLote" type="s:long"/>
                    <s:element minOccurs="0" name="tipoLote" type="s:string"/>
                    <s:element minOccurs="0" name="dataLote" type="s:dateTime"/>
                    <s:element minOccurs="0" name="dataLoteSistema" type="s:dateTime"/>
                    <s:element minOccurs="0" name="horaLote" type="s:string"/>
                    <s:element minOccurs="0" name="companhia" type="s:string"/>
                    <s:element minOccurs="0" name="codigoConta" type="s:string"/>
                    <s:element minOccurs="0" name="codigoLongoConta" type="s:string"/>
                    <s:element minOccurs="0" name="mes" type="s:long"/>
                    <s:element minOccurs="0" name="seculo" type="s:long"/>
                    <s:element minOccurs="0" name="anoFiscal" type="s:long"/>
                    <s:element minOccurs="0" name="moeda" type="s:string"/>
                    <s:element minOccurs="0" name="taxaCambio" type="s:long"/>
                    <s:element minOccurs="0" name="data" type="s:dateTime"/>
                    <s:element minOccurs="0" name="valorReal" type="s:decimal"/>
                    <s:element minOccurs="0" name="valorConvertido" type="s:decimal"/>
                    <s:element minOccurs="0" name="quantidade" type="s:decimal"/>
                    <s:element minOccurs="0" name="unidadeMedida" type="s:string"/>
                    <s:element minOccurs="0" name="descricao" type="s:string"/>
                    <s:element minOccurs="0" name="comentario" type="s:string"/>
                    <s:element minOccurs="0" name="originadorTransacao" type="s:string"/>
                    <s:element minOccurs="0" name="numeroDocumento" type="s:long"/>
                    <s:element minOccurs="0" name="tipoDocumento" type="s:string"/>
                    <s:element minOccurs="0" name="companhiaDocumento" type="s:string"/>
                    <s:element minOccurs="0" name="linhaDocumento" type="s:long"/>
                    <s:element minOccurs="0" name="dataContabilizacao" type="s:dateTime"/>
                    <s:element minOccurs="0" name="filial" type="s:string"/>
                    <s:element minOccurs="0" name="conta" type="s:string"/>
                    <s:element minOccurs="0" name="codigoCusto" type="s:string"/>
                    <s:element minOccurs="0" name="subconta" type="s:string"/>
                    <s:element minOccurs="0" name="tipoSubconta" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="criarEmLote">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pRequest" type="s0:criarEmLoteReq"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="criarEmLoteReq">
                <s:complexContent>
                    <s:extension base="s0:Ens_Request">
                        <s:sequence>
                            <s:element name="cenario" type="s:long"/>
                            <s:element name="companhia">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="5"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element name="filial">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="12"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="listaVoucher" type="s0:ArrayOfvoucherPairOflistaVoucherKeyvoucher"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfvoucherPairOflistaVoucherKeyvoucher">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="voucher" nillable="true" type="s0:PairOflistaVoucherKeyvoucher"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOflistaVoucherKeyvoucher">
                <s:complexContent>
                    <s:extension base="s0:voucher">
                        <s:attribute name="listaVoucherKey" type="s:string" use="required"/>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="voucher">
                <s:sequence>
                    <s:element minOccurs="0" name="codigoPagamento">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="3"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element name="numeroFatura">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="8"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element name="dataEmissao" type="s:dateTime"/>
                    <s:element name="dataContabilizacao" type="s:dateTime"/>
                    <s:element name="codigoFornecedor" type="s:long"/>
                    <s:element name="codigoBeneficiario" type="s:long"/>
                    <s:element minOccurs="0" name="numDocCompra">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="8"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="tipoDocCompra">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="2"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="observacao">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="30"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="listaItens" type="s0:ArrayOfitemPairOflistaItensKeyitem"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfitemPairOflistaItensKeyitem">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="s0:PairOflistaItensKeyitem"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOflistaItensKeyitem">
                <s:complexContent>
                    <s:extension base="s0:item">
                        <s:attribute name="listaItensKey" type="s:string" use="required"/>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="item">
                <s:sequence>
                    <s:element minOccurs="0" name="codigoPagamento">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="3"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element name="valorItem" type="s:decimal"/>
                    <s:element minOccurs="0" name="dataVencimento" type="s:dateTime"/>
                    <s:element minOccurs="0" name="observacao">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="30"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="listaDistribuicaoContabil" type="s0:ArrayOfdistribuicaoContabilPairOflistaDistribuicaoContabilKeydistribuicaoContabil"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfdistribuicaoContabilPairOflistaDistribuicaoContabilKeydistribuicaoContabil">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="distribuicaoContabil" nillable="true" type="s0:PairOflistaDistribuicaoContabilKeydistribuicaoContabil"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOflistaDistribuicaoContabilKeydistribuicaoContabil">
                <s:complexContent>
                    <s:extension base="s0:distribuicaoContabil">
                        <s:attribute name="listaDistribuicaoContabilKey" type="s:string" use="required"/>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="distribuicaoContabil">
                <s:sequence>
                    <s:element minOccurs="0" name="indiceContaContabil" type="s:long"/>
                    <s:element minOccurs="0" name="valor" type="s:decimal"/>
                    <s:element minOccurs="0" name="observacao">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="30"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                </s:sequence>
            </s:complexType>
            <s:element name="criarEmLoteResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="criarEmLoteResult" type="s0:criarEmLoteResp"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="criarEmLoteResp">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="listaVoucherRetorno" type="s0:ArrayOfcriarEmLoteVoucherRetornoRespPairOflistaVoucherRetornoKeycriarEmLoteVoucherRetornoResp"/>
                            <s:element minOccurs="0" name="status" type="s:boolean"/>
                            <s:element minOccurs="0" name="msgErro">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="500"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfcriarEmLoteVoucherRetornoRespPairOflistaVoucherRetornoKeycriarEmLoteVoucherRetornoResp">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="criarEmLoteVoucherRetornoResp" nillable="true" type="s0:PairOflistaVoucherRetornoKeycriarEmLoteVoucherRetornoResp"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOflistaVoucherRetornoKeycriarEmLoteVoucherRetornoResp">
                <s:complexContent>
                    <s:extension base="s0:criarEmLoteVoucherRetornoResp">
                        <s:attribute name="listaVoucherRetornoKey" type="s:string" use="required"/>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="criarEmLoteVoucherRetornoResp">
                <s:sequence>
                    <s:element minOccurs="0" name="numeroVoucher" type="s:long"/>
                    <s:element minOccurs="0" name="tipoDocVoucher">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="3"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="status" type="s:boolean"/>
                    <s:element minOccurs="0" name="msgErro">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="500"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                </s:sequence>
            </s:complexType>
            <s:element name="liberar">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pRequest" type="s0:liberarReq"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="liberarReq">
                <s:complexContent>
                    <s:extension base="s0:Ens_Request">
                        <s:sequence>
                            <s:element name="cenario" type="s:long"/>
                            <s:element name="ciaDocumento">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="5"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element name="tipoDocumento">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="2"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element name="numeroDocumento" type="s:decimal"/>
                            <s:element name="linhaDocumento">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="3"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:element name="liberarResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="liberarResult" type="s0:liberarResp"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="liberarResp">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="status" type="s:long"/>
                            <s:element minOccurs="0" name="msgErro">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="1024"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="errorCode">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="10"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="errorDescription">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="40"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
        </s:schema>
    </types>
    <message name="consultarSoapIn">
        <part name="parameters" element="s0:consultar"/>
    </message>
    <message name="consultarSoapOut">
        <part name="parameters" element="s0:consultarResponse"/>
    </message>
    <message name="criarEmLoteSoapIn">
        <part name="parameters" element="s0:criarEmLote"/>
    </message>
    <message name="criarEmLoteSoapOut">
        <part name="parameters" element="s0:criarEmLoteResponse"/>
    </message>
    <message name="liberarSoapIn">
        <part name="parameters" element="s0:liberar"/>
    </message>
    <message name="liberarSoapOut">
        <part name="parameters" element="s0:liberarResponse"/>
    </message>
    <portType name="voucherContasPagarSoap">
        <operation name="consultar">
            <input message="s0:consultarSoapIn"/>
            <output message="s0:consultarSoapOut"/>
        </operation>
        <operation name="criarEmLote">
            <input message="s0:criarEmLoteSoapIn"/>
            <output message="s0:criarEmLoteSoapOut"/>
        </operation>
        <operation name="liberar">
            <input message="s0:liberarSoapIn"/>
            <output message="s0:liberarSoapOut"/>
        </operation>
    </portType>
    <binding name="voucherContasPagarSoap" type="s0:voucherContasPagarSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="consultar">
            <soap:operation soapAction="http://tempuri.org/cbpi.bs.voucherContasPagar.Service.consultar" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="criarEmLote">
            <soap:operation soapAction="http://tempuri.org/cbpi.bs.voucherContasPagar.Service.criarEmLote" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="liberar">
            <soap:operation soapAction="http://tempuri.org/cbpi.bs.voucherContasPagar.Service.liberar" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="voucherContasPagar">
        <port name="voucherContasPagarSoap" binding="s0:voucherContasPagarSoap">
            <soap:address location="${settings.jde.vouchercontaspagar.soap.address}"/>
        </port>
    </service>
</definitions>